.bottom-menu-root{
    user-select: none;
}

.touch-line{
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
}

.bottom-menu-wrap{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.bottom-menu-container{
    display: flex;
    align-items: center;
    width: 30%;
    height: 0px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px 7px 0px 0px;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.5s, visibility 0.55s;
}

.bottom-menu-container:hover{
    visibility: visible;
    height: 75px;
}


.bottom-menu-container.hover{
    visibility: visible;
    height: 75px;
}

.bottom-menu-icon{
    margin: 0 auto;
}

.bottom-menu-icon > img{
    width: 70px;
    height: 70px;
    transition: all 0.1s;
}

.bottom-menu-icon > img:hover{
    width: 100px;
    height: 100px;
}

.bottom-menu-icon > img:active{
    width: 90px;
    height: 90px;
}