.login{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    margin-top: 10%;
}

.login img{
    display: block;
    margin: 1% auto;
    border-radius: 50%;
}

.login p{
    margin-bottom: 1.5%;
}

.login input{
    border: none;
    background-color: rgba(255, 255, 255, 0.219);
    backdrop-filter: blur(30px);
    outline: none;
    max-height: 1rem;
    max-width: 150px;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 1.2rem;
    color: rgb(238, 238, 238);
}

.login button{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.219);
    backdrop-filter: blur(30px);
    height: 1.8rem;
    width: 1.8rem;
    line-height: 1.9rem;
    border: none;
    outline: none;
    border-radius: 50%;
    color: rgb(109, 107, 107);
    margin-left: 10px;
}